POSTGRES_DB=banmachine_db
POSTGRES_USER=banmachine_user
POSTGRES_PASSWORD=replace_with_strong_db_password
POSTGRES_PORT=5432

PGDATA=/var/lib/postgresql/data/pgdata

MINIO_ROOT_USER=replace_with_minio_user
MINIO_ROOT_PASSWORD=replace_with_strong_minio_password
MINIO_BUCKET=submissions
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

DOTNET_PORT=8082
ASPNETCORE_ENVIRONMENT=Development
AUTH_SECRET_KEY=replace_with_very_long_random_secret_key_min_32_chars

IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=bandabenzogang/banmashine
FRONTEND_IMAGE_TAG=latest
DOTNET_IMAGE_TAG=latest
INGEST_IMAGE_TAG=latest
